name: Update Rates Cron

on:
  schedule:
    # 6:30 AM and 6:30 PM (GMT-4)
    - cron: "30 10,22 * * *"
  workflow_dispatch:

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call API Route
        run: |
          curl -X GET ${{ secrets.PRODUCTION_URL }}/api/cron/update-rates \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}" \
          -H "User-Agent: GitHub-Action" \
          --fail
