name: "Update BCV Rates"

on:
  schedule:
    # Every hour
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-bcv-rates:
    runs-on: ubuntu-latest
    steps:
      - name: Call update-bcv-rates endpoint
        run: |
          curl -X GET ${{ secrets.PRODUCTION_URL }}/api/cron/update-bcv-rates \
          -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}" \
          -H "User-Agent: GitHub-Action" \
          --fail
